@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient( 109.6deg,  rgba(103,30,117,1) 11.2%, rgba(252,76,2,1) 91.1% ); 
}

.kk{
  background-image: linear-gradient( 291.7deg,  rgba(255,134,134,1) 21.5%, rgba(249,141,255,1) 93.1% );
}

*{
  font-family: 'Raleway', sans-serif;
}